@import '../../node_modules/frow/sass/frow';

/*Fonts*/
$heading: Georgia, sans-serif;
$paragraf: Georgia, sans-serif;

/*Colors*/
$background: #bad0b8;
$white: #FFF; 
$grey: #57676e;
$yellow: #eeb832;
$red: #d13d40;

html{
	height: 100%;
	width: 100%;
}

body{
	min-height: 100%;
	min-width: 100%;
	background-color: $background;
	color: $grey;
	font: 16px/1.5 $paragraf;
}
	

*, *:after, *:before, select {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-shadow: border-box;
}

img {
	width: 100%;
	height: auto;
}

// Typography
h1, h2, h3, h4, h5, h6 {
	font-family: $heading;
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.375rem;}
h4 {font-size: 1.125rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}

.small {
	font-size: 0.8rem;
	color: #a8a8a8;
	font-family: Verdana;
}

/*Styles the menu*/
.menu-main {
	background-color: #d13d40;
	height: 70px;
}

.menu-item {
	background-color: #f8c628;
	margin: 10px 0 10px 1rem;
	padding: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer; 
}

.menu-sub {
	background-color: #eeb832;
	padding-left: 0.4rem;
}

.menu-select {
	display: block;
	margin: 3px 0;
	margin-left: 10px;
	background: none;
	border: 2px solid #9e9e9e;
	border-radius: 0;
	padding: 3px 24px 3px 5px;
	height: 27px;
	box-shadow: none;
	text-shadow: none;
	font-size: 0.9rem;
}


/* wraps the main content of the page */ 
.container {
	margin: 1rem;
	max-width: 1300px;
}


/*The map*/
#map {
height: 82vh;
width: 100%;
}

/* The loading indicator */
.loading-indicator-relative {
	position: relative;
}
.loading-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -50px 0 0 -50px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #f8c628;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*Styles the content boxes*/
.situation {
	background-color: $white;
	margin: 0 1rem 1rem 1rem;
	padding: 1rem;
	width: 100%;
}

.situation-icon {
	width: 40px;
	float:left;
	margin-right: 10px;
}

/* Add animation to content (sliding from bottom when loaded) */
.animate-content {
  position: relative;
  animation-name: animatecontent;
  animation-duration: 1s
}

@keyframes animatecontent { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* Add animation to submenu */
.animate-submenu {
  animation: fadeIn ease-in 1s;
}

@keyframes fadeIn { 
  from{ top:-100px; opacity:0 } 
  to{ top:0; opacity:1 }
}

@keyframes fadeOut { 
	0%{ opacity: 1; visibility: visible; } 
	100%{ opacity: 0; visibility: hidden;} 
}

/*Footer*/
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2vh;
	background-color: $yellow;
}


/*Media query*/
@media (max-width: 992px) {
  #map {
    height: 50vh;
    margin-bottom: 0.5rem;
  }
  .container{
  	margin: 1rem 1.5rem;
  }
  .situation{
  	margin: 0.5rem 0;
  }
}
